.modal-header{
    padding: 5px 15px;
    background-color: #0a1931;
}
.modal-title{
    font-size: 20px;
    color: white;
}
.close{

    background: none;
    color: white;
    border: none;
    font-size: 30px;
  
}
.close .sr-only{
    color:#0a1931;
}
.col{
    padding-top: 1rem;
}
.modal-footer{
    padding: 5px 15px;
}
.actionBtnContainer{
    display: flex;
    align-items: center;
}

.actionBtnContainer > button{
    border: 0;
    margin: 1rem;
    font-size: 20px;
}